<%- include('partials/head.ejs') %>

<div class="container">
  <h2 class="mt-3">Welcome to 8Box Games</h2>
  <div>
    <div class="card">
      <h5 class="card-header">Saldo Anda</h5>
      <div class="card-body">
        <h5 class="card-title"> Rp. sekian</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Top Up</a>
      </div>
    </div>
  </div>
  <br>
  <h2>Game List</h2>
  <form action="/" method="get" style="width: 18rem;">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="title">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
   <% data.forEach(el => { %>
   <div class="card" style="width: 18rem;">
     <img src="<%= el.imageurl %> " class="card-img-top">
     <div class="card-body">
       <h5 class="card-title"><%= el.title %> </h5>
       <p class="card-text"><%= el.description %> </p>
       <p><%= %></p>
       <a href="/user/<%= el.id %>" class="btn btn-primary">BUY</a>
     </div>
   </div> 
   <% })  %> 

    
</div> 
 
<%- include('partials/foot.ejs') %>